html, body, #root, .wrapper {
  height: 100%;
}

.row {
  display: flex;
  height: 100%;
}

.column {
  margin: 8px;
  flex: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rssInputContainer {
  display: flex;
}

.rssInput {
  flex-grow: 1;
}

.headerContainer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.headerContainer button {
  margin-left: 16px;
}

#rssEmailPreviewIFrame {
  flex: 1;
}

